/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN ROOT FIX */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* GLOBAL THEME */
body {
  font-family: Arial, sans-serif;
  background-color: #0b1020;
  color: white;
}
